*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-image:url(../images/pattern-background-desktop.svg);
    background-repeat:no-repeat;
    background-color:hsl(225, 100%, 94%);
}

.all{
    width:430px;
    height:680px;
    background-color:white;
    position:absolute;
    bottom:50%;
    right:50%;
    transform:translate(50% , 50%);
    border-radius:20px;
    overflow:hidden;
    box-shadow:5px 5px 10px rgb(78, 78, 78);
    display:flex;
    flex-direction:column;
    align-items:center;
}

.image-1{
    width:100%;
}

h1{
    text-align:center;
    margin-top:30px;
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:hsl(223, 47%, 23%);
    margin-bottom:20px;
}

p{
    text-align:center;
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding:0 50px;
    margin-bottom:20px;
    color:hsl(224, 23%, 55%);
    line-height:27px;
}

.card{
    background-color:hsl(225, 100%, 98%);
    width:80%;
    border-radius:13px;
    display:flex;
    align-items:center;
    height:100px;
    position:relative;
    margin-bottom:30px;
}

.card-text{
    display:flex;
    flex-direction:column;
    margin-left:20px;
}

.image-2{
    width:47px;
    margin-left:25px;
}

.span-1{
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color:hsl(223, 47%, 23%);
    margin-bottom:7px;
}

.span-2{
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color:hsl(224, 23%, 55%);
}

a{
    color:hsl(245, 75%, 52%);
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    position:absolute;
    right:20px;
    font-size:15px;
    transition:.3s;
}

a:hover{
    text-decoration:none;
    color:hsl(245, 81%, 69%);
}

.btn-1{
    border:none;
    width:80%;
    height:53px;
    background-color:hsl(245, 75%, 52%);
    border-radius:10px;
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color:white;
    font-size:15px;
    cursor:pointer;
    box-shadow:0 5px 30px hsl(245, 75%, 52%);
    margin-bottom:30px;
    transition:.3s;
}

.btn-1:hover{
    background-color:hsl(245, 81%, 69%);
}

.btn-2{
    border:none;
    background:transparent;
    color:hsl(224, 23%, 55%);
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size:15px;
    cursor:pointer;
    transition:.3s;
}

.btn-2:hover{
    color:hsl(223, 47%, 23%);;
}

@media (max-width:550px) {
    .all{
        width:350px;
        height:580px;
    }

    .btn-2{
        margin-bottom:20px;
    }